body {text-align: center}
.my-container { position: relative; width: 960px; display: inline-block; text-align: left;}
#unity-relative-container { position: relative; width: 960px; height: 650px; display: inline-block; }
#unity-container.unity-desktop { left: 50% !important; top: 0 !important; transform: translate(-50%, 0) !important }