body { background: rgb(254, 255, 242); text-align: center; padding-bottom: 20px;}
.my-container { position: relative; width: 960px; display: inline-block; text-align: left;}
.my-container .title { font-size: 40px; margin: 10px 0 10px 0; padding: 0; }
.my-container .caption { background: rgb(234, 255, 203); margin: 10px 0 10px 0; padding: 20px; }
.my-container .comment { background: rgb(228, 228, 228); margin: 10px 0 10px 0; padding: 20px; }
#unity-relative-container { position: relative; width: 960px; height: 650px; display: inline-block; margin: 20px 0 20px 0}
#unity-container.unity-desktop { left: 50% !important; top: 0 !important; transform: translate(-50%, 0) !important }